@use '../core/functions' as *;
@use '../core/colors' as *;

.header {
  background: $White;
  padding: rem(22) 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  @media screen and (min-width: 660px) {
    padding: rem(22) 40px;
  }

  @media screen and (min-width: 950px) {
    height: 83px;
  }

  @media screen and (min-width: 1350px) {
    padding: rem(22) calc((100vw - 1280px) / 2);
  }

  &__logo {
    height: 23px;
  }

  &__mobile-toggler {
    display: block;
    cursor: pointer;
    background: transparent;
    border: none;

    @media screen and (min-width: 700px) {
      display: none;
    }

    &.active {
      span:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg);
      }

      span:nth-of-type(2) {
        opacity: 0;
      }

      span:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }

    span {
      width: 24px;
      height: 2px;
      display: block;
      background: $DarkBlue;
      transition: all 0.2s ease;
    }

    span + span {
      margin-top: 4px;
    }
  }

  &__navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $White;
    top: rem(88);
    left: -100vw;
    width: calc(100% - 48px);
    border-radius: rem(6);
    padding: rem(35) 0;
    transition: left 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 50;

    @media screen and (min-width: 700px) {
      flex-direction: row;
      position: static;
      visibility: visible;
      opacity: 1;
      width: unset;
      padding: 0;
    }

    &.active {
      left: 24px;
      opacity: 1;
      visibility: visible;
    }

    a {
      text-decoration: none;
      font-size: rem(18);
      color: $DarkBlue;
      transition: transform 0.2s ease;

      &:hover {
        text-decoration: underline;
        transform: scale(1.1);
      }

      @media screen and (min-width: 700px) {
        font-size: rem(17);
      }

      @media screen and (min-width: 950px) {
        color: $GrayishBlue;
        position: relative;

        &::after {
          content: "";
          background: linear-gradient(to right, $LimeGreen, $BrightCyan);
          display: block;
          position: absolute;
          bottom: rem(-27);
          height: 3px;
          width: 105%;
          transform: scaleX(0);
        }

        &:hover {
          text-decoration: none;
          color: $DarkBlue;

          &::after {
            transform: scale(1);
            transition: transform 0.2s ease;
          }
        }
      }
    }

    a + a {
      margin-top: rem(25);

      @media screen and (min-width: 700px) {
        margin: 0 0 0 rem(22);
      }

      @media screen and (min-width: 950px) {
        margin: 0 0 0 rem(30);
      }
    }
  }

  &__invite-link {
    display: none;

    @media screen and (min-width: 950px) {
      display: grid;
      height: rem(45);
      width: rem(160);
    }
  }
}
