@use './functions' as *;
@use './colors' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

html.navbar-active {
  overflow: hidden;
}
